@page "/inventory"

@using CoolStore.UI.Blazor.Services
@using CoolStore.UI.Blazor.I18nText
@inject CoolStoreService CoolStoreService
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

@if (inventories == null)
{
    <p><em>Loading inventory...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Text.InventoryPage_Location</th>
                <th>@Text.InventoryPage_Website</th>
                <th>@Text.InventoryPage_Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inventory in inventories)
            {
                <tr>
                    <td>@inventory.Location</td>
                    <td>@inventory.Website</td>
                    <td>@inventory.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MyText Text = new MyText();
    private List<IInventoryDto> inventories;
    protected override async Task OnInitializedAsync()
    {
        Text = await I18nText.GetTextTableAsync<MyText>(this);
        inventories = await CoolStoreService.GetInventories();
    }
}
