@page "/product"

@using CoolStore.UI.Blazor.Services
@using CoolStore.UI.Blazor.I18nText
@inject CoolStoreService CoolStoreService
@inject Toolbelt.Blazor.I18nText.I18nText I18NText

@if (_products == null)
{
    <p><em>Loading products...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@_text.HomePage_Name</th>
                <th>@_text.HomePage_Category</th>
                <th>@_text.HomePage_InventoryLocation</th>
                <th>@_text.HomePage_Price</th>
                <th>@_text.HomePage_Image</th>
                <th>@_text.HomePage_Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in _products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.CategoryName</td>
                    <td>@product.InventoryLocation</td>
                    <td>@product.Price</td>
                    <td>@product.ImageUrl</td>
                    <td>@product.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MyText _text = new MyText();
    private List<ICatalogProductDto> _products;
    protected override async Task OnInitializedAsync()
    {
        _text = await I18NText.GetTextTableAsync<MyText>(this);
        _products = await CoolStoreService.GetProducts();
    }
}
